.App-Header{
  background-color: rgba(190, 182, 33, 0.944);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.App-Header li {
    display: inline-block;
    font-size: 20;
    padding: 5px;
}